<div class="header">
  <div class="header__breadcrumb">
    <h4>NOVA ADMISSÃO COOPERADO</h4>
    <span>Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado </span>
  </div>
  <div class="header__user">
    <i
      class="pi pi-bell header__notification p-text-secondary mr-2"
    >
      <div class="header__badge">
        2
      </div>
    </i>
    <div class="header__company">
      VIACREDI
    </div>
    <div class="header__photo">
      <img src="assets/imgs/user.jpg" alt="">
      <i class="pi pi-cog"></i>
    </div>
  </div>
</div>
