<div class="customer-summary">
  <div class="customer-summary__block">
    <div class="customer-summary__title">
      Situação cadastral do CPF
    </div>
    <div class="customer-summary__subtitle">
      Consulta na Receita Federal
    </div>
    <div class="customer-summary__items">
      <div class="customer-summary__item">
        <i class="pi pi-user customer-summary__icon"></i>
        <div class="customer-summary__information-content">
          <span class="customer-summary__information-title">
            Nome
          </span>
          <span class="customer-summary__information-description">
            Mariane de Sousa Oliveira
          </span>
        </div>
      </div>
      <div class="customer-summary__item">
        <i class="pi pi-check-circle customer-summary__icon color-green" style></i>
        <div class="customer-summary__information-content">
          <span class="customer-summary__information-title">
            Situação do CPF
          </span>
          <span class="customer-summary__information-description">
            Regular
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="customer-summary__block">
    <div class="customer-summary__title">
      Conta aplicação
    </div>
    <div class="customer-summary__subtitle">
      Cooperativa Viacredi
    </div>
    <div class="customer-summary__items">
      <div class="customer-summary__item">
        <i class="pi pi-user customer-summary__icon"></i>
        <div class="customer-summary__information-content">
          <span class="customer-summary__information-title">
            Número da conta
          </span>
          <span class="customer-summary__information-description">
            557932-4
          </span>
        </div>
      </div>
      <div class="customer-summary__item">
        <a href="#" class="customer-summary__link">Duplicar conta</a>
      </div>
    </div>
  </div>

  <div class="customer-summary__block">
    <div class="customer-summary__title">
      Conta corrente
    </div>
    <div class="customer-summary__subtitle">
      Cooperativa Viacredi
    </div>
    <div class="customer-summary__items">
      <div class="customer-summary__item">
        <i class="pi pi-user customer-summary__icon"></i>
        <div class="customer-summary__information-content">
          <span class="customer-summary__information-title">
            Número da conta
          </span>
          <span class="customer-summary__information-description">
            778461-8
          </span>
        </div>
      </div>
      <div class="customer-summary__item">
        <a class="customer-summary__link">
          Duplicar conta
        </a>
      </div>
    </div>
  </div>
</div>
