<div class="navbar">
  <div class="navbar__logo">
    <img src="assets/imgs/logo.png" alt="">
  </div>
  <div class="navbar__options">
    <ul>
      <li class="navbar__item navbar__item--menu">
        <i class="pi pi-align-justify"></i>
      </li>
      <li class="navbar__item">
        <i class="pi pi-search"></i>
      </li>
      <li class="navbar__item">
        <i class="pi pi-star"></i>
      </li>
      <li class="navbar__item">
        <i class="pi pi-comment"></i>
      </li>
      <li class="navbar__item">
        <i class="pi pi-sliders-h"></i>
      </li>
      <li class="navbar__item">
        <i class="pi pi-home"></i>
      </li>
    </ul>
  </div>
</div>
